@import "tailwindcss";

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(71 85 105 / 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139 / 0.7);
}

/* Hide scrollbar until hover */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgb(71 85 105 / 0.5);
}
